{% extends 'base.html'%}
{%block content%}
<div class="container">
<div class="'row">
    <div class="col-md-6">

<div class="banner">



<form action="register" method="post">
    {%csrf_token%}
<div class="form-group">
  <input type="text"  class="form-control"  name="username" placeholder="username"><br>
</div>
    <div class="form-group">
    <input type="text" class="form-control"  name="first_name" placeholder="firstname"><br>
    </div>
    <div class="form-group">
    <input type="text" class="form-control"  name="last_name" placeholder="lastname"><br>
    </div>
    <div class="form-group">
    <input type="email" class="form-control"  name="email" placeholder="Email"><br>
    </div>
    <div class="form-group">
   <input type="password" class="form-control"  name="password1" placeholder="password1"><br>
    </div>
    <div class="form-group">
    <input type="password" class="form-control" name="password2" placeholder="password2"><br>
    </div>

    <button type="submit" class="btn btn-success"> SUBMIT</button>

</form>
</div>
        </div>
</div>
    </div>
{%endblock%}


